:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F3EFF3;
    --secondary:#070606
}
section.services{
    background: var(--light);
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}
.section-heading{
    color: var(--secondary);
    text-align: center;
}
.section-heading span{
    color: var(--primary);
}
.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato',sans-serif;
    margin-bottom: 6rem;
    text-align: center;
}
   
section.services .card-wrapper img{
    background: var(--primary);
    width: 110px;
    height: 110px;
    border: 3rem solid var(--primary);
    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
    /* transition: translateX(50); */
}
section.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
}
